<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Berhasil!</title>

  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div>
  <h2 th:text="'Tiket dengan nomor tiket ' + ${noTiket} + ' berhasil dipesan, pendapatan Konser' + ${namaKonser} + ' bertambah!'"></h2>
</div>


<a href="/tiket">Kembali </a>

</body>
</html>