<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SINGIDOL</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<div class="container">
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Tambah Konser</h2>
                <br>
                <form th:action="@{/konser/add}" th:object="${konser}" method="POST">
                    Nama Konser: <br>
                    <input class="form-control" type="text" th:field="*{namaKonser}"/>
                    <br><br>


                    Waktu <br>
                    <input class="form-control" type="datetime-local" th:field="*{waktu}"/>
                    <br><br>


                    tempat: <br>
                    <input class="form-control" type="text" th:field="*{tempat}"/>
                    <br><br>

                    <table>
                        <thead>
                        <th>Daftar Idol</th>
                        <th>
                            <button class="btn btn-primary" type="submit" name="addRow">Tambah Row</button>
                        </th>
                        </thead>
                        <tbody>
                        <tr th:each="idol, iterationStatus: *{penampilanKonser}">
                            <td>
                                <select th:field="*{penampilanKonser[__${iterationStatus.index}__].idol.id}"
                                        class="form-control">

                                        <option  th:each="idolEx, iterationStatus2 : ${listIdolExisting}"
                                                 th:value="${idolEx.id}" th:text="${idolEx.namaIdol}"></option>

<!--                                    <option th:each="idolEx : ${listIdolExisting}" th:value="${idolEx.id}" th:text="${idolEx.namaIdol}">Test</option>-->
                                </select>
                            </td>
                            <td>
                                <input class="form-control" type="time"
                                       th:field="*{penampilanKonser[__${iterationStatus.index}__].jamMulaiTampil}"/>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-danger" th:value="${iterationStatus.index}"
                                        name="deleteRow">Hapus
                                </button>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-primary" type="submit" name="save">Submit</button>
                    <a class="btn btn-primary" href="/">Home</a>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>