<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Beranda</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/static/css/bootsrap.min.css}">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"
    ></script>
    <script src="https://getbootsrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="d-flex justify-content-center">
    <div class="m-4">
        <h2>WELCOME TO SINGIDOL</h2>
        <br>
        <br>
        <a class="d-flex justify-content-center font-weight-bold text-dark">List of Features</a>
        <br>
        <div class="d-flex justify-content-center">
            <a class="mx-2 btn btn-primary" th:href="@{/konser/viewall}">Konser</a>
            <a class="mx-2 btn btn-primary" th:href="@{/tiket/viewall}">Tiket</a>
            <a class="mx-2 btn btn-primary" th:href="@{/idol/viewall}">Idol</a>
        </div>
    </div>
</div>
</body>
</html>