<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <title>SINGIDOL</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container">

  <div class="card m-4 p-4">
    <div class="card-body">
      <div class="justify-content-center">
        <div th:if="${hasKonser}">
        <h2>Daftar Konser</h2>
        <br>

        <a class="mx-2 btn btn-primary" th:href="@{/konser/cari}">Filter</a>
        <a class="mx-2 btn btn-primary" th:href="@{/konser/add}">+Tambah konser</a>
        <br>
        <table class="table">
          <thead>
          <tr>
            <th>No</th>
            <th>Konser</th>
            <th>Pendapatan</th>
            <th>Detail Konser</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="konser, iterationStatus : ${listKonser}"
              th:style="${iterationStatus.even} ? 'font-weight:bold;'">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${konser.namaKonser}"></td>
            <td th:text="${konser.totalPendapatan}"></td>
            <td>
              <a class="btn btn-primary"  th:href="@{/konser/view/}+${konser.id}">Detail
                Konser</a>
            </td>
          </tr>


          </tbody>
        </table>

        <br>
        <a class="btn btn-primary" href="/">Beranda</a>
      </div>

        <div th:unless="${hasKonser}">
          <h1 th:text="'Belum ada Konser, silahkan tambahkan Konser terlebih dahulu!'"></h1>
        </div>
    </div>
  </div>
</div>
</div>
</body>
</html>
